.\venv\
__pycache__/
*.pyc
.env
*.sqlite3

# Ignore everything inside runtime
# Runtime (inside backend)
backend/runtime/*

# Bring back folders
!backend/runtime/screenshots/
!backend/runtime/scripts/

# Ignore contents again
backend/runtime/screenshots/*
backend/runtime/scripts/*

# Keep folder structure
!backend/runtime/screenshots/.gitkeep
!backend/runtime/scripts/.gitkeep